.popupContainer {
  width: 414px;
  height: 249px;
  border-radius: 30px 30px 0px 0px;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  animation: slideInFromBottom 0.25s ease-in-out forwards;
}


.says {
    font-size: 28px;
    font-weight: 900;
    color: white;
    padding-bottom: 10px;

}

.paragraph {
    font-size: 20px;
    font-weight: 400;
    width: 80%;
    color: white;
}

.main > div {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.next {
    color: white;
    font-size: 32px;
    font-weight: 900;
    font-family: 'Nunito';
    width: 100%;
    padding-left: 270px;
    cursor: pointer;
}

.animation {
    z-index: -1;
    position: absolute;
    bottom: 200px;
}

.fadeBG {
    z-index: -2;
    width: 1000px;
    height: 1000px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    transform: translateX(-50%);
    bottom: 0px;
    opacity: 0;
    animation: fadeIn 1s forwards;
}
 
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 0.5;
    }
  }

  @keyframes slideInFromBottom {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0%);
    }
  }
  

  @media (min-width: 415px) and (min-height: 897px) {
    /* DESKTOP CSS */
    .fadeBG {
      width: 800%;
      height: 600%;
  }
}
  