.buttonContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.buttonBody {
    background-color: #7BD0FF;
    transition-duration: 200ms;
    width: 330px;
    height: 85px;
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 32px;
    font-weight: bold;
    box-shadow: 0px 10px 0px #56bef7;
}

.buttonClicked {
    transition-duration: 200ms;
    color: rgb(240, 240, 240);
    box-shadow: 0px 0px 0px #56bef7;
}