.navwrap {
    width: 100%;
    height: 5em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.nav__title {
    color: var(--primary-blue);
    font-size: 32px;
    font-weight: 900;
}

.nav__title > span {
    color: var(--primary-beige);
    font-size: 32px;
}


.menu__bear {
    margin-top: 2.5em;
    width: 125px;
    height: 125px;
}