.buttonContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.buttonBody {
  background: radial-gradient(circle, #ffe23b, #d69f07);
  transition-duration: 200ms;
  width: 330px;
  height: 85px;
  border: none;
  border-radius: 30px;
  color: white;
  font-size: 32px;
  font-weight: bold;
  box-shadow: 0px 10px 0px #ad8334;
  cursor: pointer;
  background-size: 250%;
  background-position: calc(50%) calc(50%);
}

.buttonClicked {
  transition-duration: 200ms;
  transform: translateY(10px);
  color: rgb(240, 240, 240);
  box-shadow: 0px 0px 0px #ad8334;
}

@media only screen and (max-width: 414px) {
  .buttonBody {
    background: radial-gradient(circle, #ffe23b, #d69f07);
    transition-duration: 200ms;
    width: 330px;
    height: 85px;
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 32px;
    font-weight: bold;
    box-shadow: 0px 10px 0px #ad8334;
    cursor: pointer;
    background-position: center;
    background-size: 250%;
    animation: slideBackground 2s ease-in-out infinite alternate;
  }
  
  @keyframes slideBackground {
    from {
      background-position: 0% 50%;
    }
    to {
      background-position: 100% 50%;
    }
  }
  
}
