 .main {
  padding: 1em;
  height: 100vh;
 }
 
 .title_head {
    text-align: center;
    margin-top: 30px;
    color: var(--primary-gray);
    font-size: 26px;
    font-weight: 900;
  }
  .team_member {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 40px;
  }

  .team_member img {
    border-radius: 50%;
    margin-right: 20px;
    width: 100px;
    height: 100px;
    object-fit: cover;
  }

  .team_member h3 {
    color: var(--primary-gray);
    font-size: 24px;
    margin: 0;
  }

  .team_member p {
    font-size: 18px;
    margin: 10px 0;
    color: var(--secondary-gray);
  }