 .main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 2em;
  padding-right: 2em;
  gap: 2.5em;
 }
 
 .title_head {
    text-align: center;
    color: var(--primary-gray);
    font-size: 20px;
    font-weight: 900;
    margin-top: 2em;
  }
  .team_member {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
  }

  .team_member img {
    border-radius: 50%;
    margin-right: 20px;
    width: 100px;
    height: 100px;
    object-fit: cover;
  }

  .team_member h3 {
    color: var(--primary-gray);
    font-size: 15px;
    font-weight: 900;
    margin: 0;
  }

  .team_member p {
    font-size: 15px;
    margin: 10px 0;
    color: var(--secondary-gray);
  }