.button {
    position: absolute;
    bottom: 5%;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 10;
    animation: slideInFromBottom .5s forwards;
    animation-delay: 3s;
    transform: translateY(160%)
}

.main {
    display: grid;
    place-items: center;
}

.animation {
    z-index: -10;
}

@keyframes slideInFromBottom {
    from {
      transform: translateY(160%);
    }
    to {
      transform: translateY(0%);
    }
  }