.title_head {
    text-align: center;
    margin-top: 30px;
    color: var(--primary-gray);
    font-size: 3rem;
    font-weight: 900 !important;
  }

  .title_desc {
    text-align: center;
    margin-top: 30px;
    color: var(--primary-gray);
    font-size: 2rem;
    font-weight: 600;
  }