.navbar {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
    height: 150px;
}

.info{
    animation: fadeIn 0.5s ease-out forwards;
    animation-delay: 2s;
    position: absolute;
    margin-top: 1em;
    margin-left: -5em;
}

.desktopInfo {
    display: none;
}

@keyframes fadeIn {
    0% {
        margin-left: -5em;
    }
    100% {
        margin-left: 2em;
    }
}






/* NON-MOBILE VERSION */

@media (min-width: 415px) and (min-height: 897px) {
    .main {
        margin-left: 15vw;
        margin-right: 15vw;
    }

    .lottie {
        transform: scale(0.75);
        border: 2px solid var(--primary-blue);
        padding: 10px;
        padding-bottom: 5px;
        position: absolute;
        margin-left: 15vw;
        top: 30px;
        left: 0;
    }
    .navbar {
        background: transparent;
        height: auto;
    }

    .info {
        display: none;
    }

    .title_head {
        text-align: center;
        color: var(--primary-gray);
        font-size: 3rem;
        font-weight: 900 !important;
      }
    
      .title_desc {
        margin-top: 30px;
        font-size: 24px;
        font-family: 'Nunito';
        font-weight: 400;
        color: var(--secondary-gray);
        text-align: left;
       margin-bottom: 30px;
      }
  
      .button {
        margin-top: 100px;
        width: 100%;
        display: flex;
        justify-content: center;
      }

      .desktopInfo {
        display: flex;
        flex-direction: column;
        width: 40%;
        position: absolute;
        top: 200px;
        left: 40%;
      }
      
  }